/**
 * Containers
 */
.container {
	margin-left: auto;
	margin-right: auto;
	max-width: container-max-width(large);
	padding-left: $grid-gap;
	padding-right: $grid-gap;

	@include media-breakpoint-down(sm) {
		padding-left: $grid-gap / 2;
		padding-right: $grid-gap / 2;
	}
}

.bg-primary {
	background: $color-primary-sect-bg;
}

.bg-secondary {
	background: $color-secondary-sect-bg;
}

//new
.bg-tertiary {
	background: $color-tertiary-sect-bg;
}

//new
.bg-quaternary {
	background: $color-quaternary-sect-bg;
}

//new
.bg-quinary {
	background: $color-quinary-sect-bg;
}

//new
.bg-senary {
	background: $color-senary-sect-bg;
}

//new
.bg-septenary {
	background: $color-septenary-sect-bg;
}

.container--medium {
	max-width: container-max-width(medium);
}